body {
    background-color: rgba(251, 255, 0, 0.151);
  }
  
  .container {
    
    align-items: center;
    
  }
  
  .image {
    width: 370px;
    margin-top: 50px;
    
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100%;
    }
  }